# Compilacion
/src/hermes/hermes


#datos
/src/hermes/data/job_id
/src/hermes/data/jobs.json

# Object files
*.o

# Build directories
bin/
build/

# Debug / compiled output
*.out

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp